version: '3.8'
services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.3.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka-broker:
    image: confluentinc/cp-kafka:7.3.0
    container_name: kafka-broker
    ports:
      - "9092:9092"
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    healthcheck:
      test: [ "CMD", "nc", "-vz", "localhost", "9092" ]
      interval: 10s
      timeout: 5s
      retries: 5

  mongo-product_service:
    image: mongo:6-jammy
    ports:
      - "27017:27017"
    expose:
      - "27017"
    volumes:
      - ./mongo-data/product-service-data:/data/db
    networks:
      - default

  mongo-inventory_service:
    image: mongo:6-jammy
    ports:
      - "27018:27017"
    expose:
      - "27018"
    volumes:
      - ./mongo-data/inventory-service-data:/data/db
    networks:
      - default

  eureka-server:
    image: springcloud/eureka
    container_name: eureka-server
    ports:
      - "8761:8761"
    networks:
      - default

networks:
  default:
